{% extends 'VDGAulasMentorAlimentosBundle:Default:layout.html.twig' %}

{% block contenido %}
    <h1>Inicio</h1>
    <h3>Hoy es {{ fecha |date('d/m/Y') }}</h3>
    <p>{{ mensaje }}</p>
{% endblock %}

