{% extends '::base.html.twig' %}
{% block title %}
     Informaci&oacute;n Alimentos
{% endblock %}
{% block stylesheets %}
<link href="{{ asset('bundles/vdgaulasmentoralimentos/css/estilo.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/vdgaulasmentoralimentos/css/ventanas-modales.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
    {% block cabecera %}
        {% include 'VDGAulasMentorAlimentosBundle:Default:cabecera.html.twig' %}
    {% endblock %}
    <div id="contenido">
    {% block contenido %}
    {% endblock %}
    </div>
    {% block pie %}
        {% include 'VDGAulasMentorAlimentosBundle:Default:pie.html.twig' %}
    {% endblock %}
{% endblock %}
